In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

In [2]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# PLAYER COUNT
# ===================
player_count = len(purchase_data_df["SN"].unique())
player_df = pd.DataFrame({"Total Players": player_count},index=[0])
player_df

   Total Players
0            576

In [4]:
# PURCHASING ANALYSIS (Total)
# ==========================

In [5]:
# Calculating Summary Stats
average_price = purchase_data_df["Price"].sum()/len(purchase_data_df["Price"])
total_revenue = purchase_data_df["Price"].sum()
total_purchases = len(purchase_data_df["Purchase ID"])
unique_items = len(purchase_data_df["Item Name"].unique())

In [6]:
# Creating the summary dataframe
summary_dict = [{"No. Unique items": unique_items,
                         "Average price": average_price,
                         "No. of purchases": total_purchases,
                         "Total Revenue":total_revenue}]

summary_df=pd.DataFrame(summary_dict)

In [7]:
# Formatting the currency values
summary_df["Average price"]= summary_df["Average price"].map("${:.2f}".format)
summary_df["Total Revenue"]= summary_df["Total Revenue"].map("${:.2f}".format)

In [8]:
#Displaying the summary table
summary_df

   No. Unique items Average price  No. of purchases Total Revenue
0               179         $3.05               780      $2379.77

In [9]:
# GENDER DEMOGRAPHICS
# ====================

In [10]:
# Preparing the summary table:
# Grouping by Gender after removing duplicate values
gender_grouped = purchase_data_df.drop_duplicates(subset="SN",keep='first',inplace=False).groupby(["Gender"])
gender_df = pd.DataFrame(gender_grouped["Gender"].count())
gender_df=gender_df.rename(columns={"Gender":"Total Count"})

# sorting by descending
sorted_gender_df = gender_df.sort_values("Total Count",ascending=False)

In [11]:
# Adding the precentage breakdown with the correct formatting
sorted_gender_df["Percentage of Players"]=sorted_gender_df["Total Count"]/sorted_gender_df["Total Count"].sum()*100
sorted_gender_df["Percentage of Players"] = sorted_gender_df["Percentage of Players"].map("{:.2f}%".format)

In [12]:
# Displaying the values
sorted_gender_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [13]:
# PURCHASING ANALYSIS (Gender)
# =============================

In [14]:
# Preparing the values for the summary table
gender_grouped_2 = purchase_data_df.groupby(["Gender"])
gender_purchase_count = gender_grouped_2["Gender"].count()
gender_total_purchase = gender_grouped_2["Price"].sum()
gender_average_purchase = gender_total_purchase / gender_purchase_count
gender_per_person = gender_total_purchase / gender_grouped["Gender"].count()

In [15]:
# Creating a dataframe from the values
gender_summary_df = pd.DataFrame({"Purchase Count": gender_purchase_count,
                    "Average Purchase Price": gender_average_purchase,
                   "Total Purchase Value":gender_total_purchase,
                   "Avg. Total per Person":gender_per_person})

In [16]:
# Formatting the columns in the dataframe
gender_summary_df["Average Purchase Price"]= gender_summary_df["Average Purchase Price"].map("${:.2f}".format)
gender_summary_df["Total Purchase Value"]= gender_summary_df["Total Purchase Value"].map("${:.2f}".format)
gender_summary_df["Avg. Total per Person"]= gender_summary_df["Avg. Total per Person"].map("${:.2f}".format)

In [17]:
# Displaying the values summary table
gender_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg. Total per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [18]:
# AGE DEMOGRAPHICS
# =====================

In [19]:
# setting the parameters for the bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [20]:
# adding the bins to the master data frame
purchase_data_df["Age Range"]=pd.cut(purchase_data_df["Age"],bins,labels=group_names,include_lowest =True)

In [21]:
# Grouping the dataset and removing any duplicates
age_grouped_df = purchase_data_df.drop_duplicates(subset="SN",keep='first',inplace=False).groupby(["Age Range"])

In [22]:
# Creating a dataframe to count the unique values for each range
age_grouped_df = age_grouped_df["Age"].count()
age_grouped_df = pd.DataFrame(age_grouped_df)

In [23]:
# renaming the column
age_grouped_df = age_grouped_df.rename(columns={"Age":"Total Count"})

In [24]:
# calculating the Percentage of Players with the correct formatting
total_players = age_grouped_df["Total Count"].sum()
age_player_count = age_grouped_df["Total Count"]
age_grouped_df["Percentage of Players"]= age_player_count / total_players * 100 
age_grouped_df["Percentage of Players"] = age_grouped_df["Percentage of Players"].map("{:.2f}%".format)

In [25]:
# displaing the summary table
age_grouped_df

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [26]:
# PURCHASING ANALYSIS (Age)
# =======================

In [27]:
# calculating the values for the age summary table
age_grouped_2 = purchase_data_df.groupby(["Age Range"])
age_total_purchase = age_grouped_2["Price"].sum()
age_purchase_count = age_grouped_2["Age"].count()
age_average = age_total_purchase / age_purchase_count
age_per_person = age_total_purchase / age_player_count

In [28]:
# creating a summary table for age
age_summary_df = pd.DataFrame({"Purchase Count": age_purchase_count,
                    "Average Purchase Price": age_average,
                   "Total Purchase Value":age_total_purchase,
                   "Avg. Total per Person":age_per_person})

In [29]:
# cleaning the formatting of currency
age_summary_df["Average Purchase Price"]= age_summary_df["Average Purchase Price"].map("${:.2f}".format)
age_summary_df["Total Purchase Value"]= age_summary_df["Total Purchase Value"].map("${:.2f}".format)
age_summary_df["Avg. Total per Person"]= age_summary_df["Avg. Total per Person"].map("${:.2f}".format)

In [30]:
# displaying the values
age_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg. Total per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [31]:
# TOP SPENDERS
# ==============

In [32]:
# Calculating the values for the data frame
spender_grouped = purchase_data_df.groupby(["SN"])
spender_purchase_count = spender_grouped["Item Name"].count()
spender_total_purchase = spender_grouped["Price"].sum()
spender_average = spender_total_purchase / spender_purchase_count

In [33]:
# creating the dataframe
spender_summary_df = pd.DataFrame({"Purchase Count": spender_purchase_count,
                    "Average Purchase Price": spender_average,
                   "Total Purchase Value":spender_total_purchase})

In [34]:
# cleaning the formatting of currency
spender_summary_df["Average Purchase Price"]= spender_summary_df["Average Purchase Price"].map("${:.2f}".format)
spender_summary_df["Total Purchase Value"]= spender_summary_df["Total Purchase Value"].map("${:.2f}".format)

In [35]:
#sorting the values
spender_summary_df = spender_summary_df.sort_values("Purchase Count",ascending=False)

In [36]:
# displaying the summary table
spender_summary_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Iral74                    4                  $3.40               $13.62
Idastidru52               4                  $3.86               $15.45
Asur53                    3                  $2.48                $7.44
Inguron55                 3                  $3.70               $11.11

In [37]:
# MOST POPULAR ITEMS
# ===================

In [38]:
most_popular = purchase_data_df.groupby(["Item ID","Item Name"])
popular_purchase_count = most_popular["Item ID"].count()
popular_total_value = most_popular["Price"].sum()
popular_item_price = popular_total_value / popular_purchase_count

In [39]:
# creating the dataframe
most_popular_df = pd.DataFrame({"Purchase Count": popular_purchase_count,
                    "Item Price": popular_item_price,
                   "Total Purchase Value":popular_total_value})

In [40]:
# cleaning the formatting of currency
most_popular_df["Item Price"]= most_popular_df["Item Price"].map("${:.2f}".format)
most_popular_df["Total Purchase Value"]= most_popular_df["Total Purchase Value"].map("${:.2f}".format)

In [41]:
#sorting the values
most_popular_df = most_popular_df.sort_values("Purchase Count",ascending=False)

In [42]:
most_popular_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [43]:
# MOST PROFITABLE
# ================

In [44]:
most_profitable_df = pd.DataFrame({"Purchase Count": popular_purchase_count,
                    "Item Price": popular_item_price,
                   "Total Purchase Value":popular_total_value})

In [45]:
most_profitable_df = most_profitable_df.sort_values("Total Purchase Value",ascending=False)

In [46]:
# cleaning the formatting of currency
most_profitable_df["Item Price"]= most_profitable_df["Item Price"].map("${:.2f}".format)
most_profitable_df["Total Purchase Value"]= most_profitable_df["Total Purchase Value"].map("${:.2f}".format)

In [48]:
most_profitable_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80