In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

In [3]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [15]:
# Calculating Summary Stats
average_price = purchase_data_df["Price"].sum()/len(purchase_data_df["Price"])
total_revenue = purchase_data_df["Price"].sum()
total_purchases = len(purchase_data_df["Purchase ID"])
unique_items = len(purchase_data_df["Item Name"].unique())

In [23]:
summary_dict = [{"No. Unique items": unique_items,
                         "Average price": average_price,
                         "No. of purchases": total_purchases,
                         "Total Revenue":total_revenue}]

summary_df=pd.DataFrame(summary_dict)
summary_df

   No. Unique items  Average price  No. of purchases  Total Revenue
0               179       3.050987               780        2379.77

In [25]:
# Formatting the $$$
summary_df["Average price"]= summary_df["Average price"].map("${:.2f}".format)
summary_df["Total Revenue"]= summary_df["Total Revenue"].map("${:.2f}".format)

In [54]:
gender_grouped = purchase_data_df.drop_duplicates(subset="SN",keep='first',inplace=False).groupby(["Gender"])
gender_df = pd.DataFrame(gender_grouped["Gender"].count())
gender_df=gender_df.rename(columns={"Gender":"Total Count"})
sorted_gender_df = gender_df.sort_values("Total Count",ascending=False)
sorted_gender_df

                       Total Count
Gender
Male                           484
Female                          81
Other / Non-Disclosed           11

In [55]:
sorted_gender_df["Percentage of Players"]=sorted_gender_df["Total Count"]/sorted_gender_df["Total Count"].sum()*100
sorted_gender_df["Percentage of Players"] = sorted_gender_df["Percentage of Players"].map("{:.2f}%".format)

In [56]:
sorted_gender_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [69]:
gender_grouped_2 = purchase_data_df.groupby(["Gender"])
gender_purchase_count = gender_grouped_2["Gender"].count()
gender_total_purchase = gender_grouped_2["Price"].sum()
gender_average_purchase = gender_total_purchase / gender_purchase_count
gender_per_person = gender_total_purchase / gender_grouped["Gender"].count()
gender_per_person

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [82]:
gender_summary_df = pd.DataFrame({"Purchase Count": gender_purchase_count,
                    "Average Purchase Price": gender_average_purchase,
                   "Total Purchase Value":gender_total_purchase,
                   "Avg. Total per Person":gender_per_person})

In [83]:
gender_summary_df["Average Purchase Price"]= gender_summary_df["Average Purchase Price"].map("${:.2f}".format)
gender_summary_df["Total Purchase Value"]= gender_summary_df["Total Purchase Value"].map("${:.2f}".format)
gender_summary_df["Avg. Total per Person"]= gender_summary_df["Avg. Total per Person"].map("${:.2f}".format)

In [84]:
gender_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg. Total per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56